/* Write your CSS here! */
body {
	width: 90%;
	max-width: 800px;
	margin: 100px;
	background-color: #ebb8dd;
	font-size: 100%;
    font-family: Arial, Helvetica, sans-serif
}

header {
    text-align: left;
}

figcaption {
	font-size: 10px;
	font-style: italic;
}


